:root {
    --bs-primary: #1c1c1c;
    --bs-primary-rgb: 28, 28, 28;
    --bs-secondary: #daff01;
    --bs-secondary-rgb: 218, 255, 1;
    --bs-info: #5d31ff;
}

html {
    font-family: 'Ruda', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 480px;
}


a:link,
a:visited {
    text-decoration: none;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}


h2,
h3,
h4 {
    font-family: 'Ruda', sans-serif;
}

hr {
    border: solid 2px #eeedf2;
}

/****** Header styling*******/

header {
    margin: 0;
}

nav {
    text-transform: uppercase;
    color: #eeedf2;
}

svg {
    fill: #eeedf2;
}

.svg2 {
    fill: #1c1c1c;
}


/******* Main banner*******/

.container-b {
    background-color: #1c1c1c;
    color: #eeedf2;
    font-family: 'Ruda', sans-serif;
}

.container-w {
    background-color: #eeedf2;
    color: #1c1c1c;
    font-family: 'Ruda', sans-serif;
}

.cover-container {
    background-image: url(/images/main-banner.gif);
    background-color: #daff01;
    background-size: cover;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    background-color: rgba(28, 28, 28, .8);
    ;
    padding: 1rem;
}

.heading::before {
    content: "Bold";
    padding-left: 10px;
    animation: heading infinite 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes heading {

    0% {
        content: "Bold";
    }

    50% {
        content: "Unique";
    }

    75% {
        content: "Different";
    }
}

.button1 {
    background-color: rgba(28, 28, 28, .4);
    border: solid 3px #eeedf2;
    padding: 0.5rem;
    color: #eeedf2;
    margin-top: 3rem;
    text-decoration: none;
}

.button1:hover {
    background-color: #eeedf2;
    color: #1c1c1c;
}

.loop-text:hover {
    color: #daff01;
}

.contact {
    background-image: url(/images/quote-bg.jpg);
    background-color: #1c1c1c;
    background-size: contain;
    height: 420px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    margin-top: 2rem;
}

.button2 {
    border: solid 3px #5d31ff;
    padding: 0.5rem;
    color: #5d31ff;
    margin-top: 3rem;
    text-decoration: none;
}

.button2:hover {
    background-color: #5d31ff;
    color: #1c1c1c;
}

/**********work.html********/

.work {
    width: 100%;
    height: fit-content;
}

.work p {
    text-align: justify;
}

.gallery {
    display: flex;
    display: inline-block;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-project {
    position: relative;
    margin: 1rem 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(28, 28, 28, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay h3 {
    color: white;
    font-size: 20px;
}

.overlay p {
    color: white;
}

.gallery-project:hover .overlay {
    opacity: 1;
}

/**********Projects ********/

.project-banner img {
    width: 100%;
    height: auto;
}

.project-description p:nth-child(2) {
    color: #A8A8A8;
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-list ul {
    width: 100%;
}

.project-list ul li {
    border-bottom: #1c1c1c solid 2px;
    list-style: none;
    align-self: center;
}

.project-list ul li:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
}

.project-list ul li:nth-child(2) {
    font-weight: 900;
}

.project-gallery img {
 width: 100%;
 margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5d31ff;
    font-size: 10rem;
    font-weight: 900;
}

/**********Footer ********/
.top-arrow i {
    font-size: 10rem;
    color: #5d31ff;
}

.footer-1 {
    font-family: 'Ruda', sans-serif;
}

.footer-1 p a {
    font-size: x-large;
    text-decoration: underline;
}

.footer-1 p a:visited {
    color: #eeedf2;
}

.footer-1 p a:link {
    color: #eeedf2;
}

.footer-1 p a:hover {
    color: #5d31ff;
}

.footer-1 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-1 ul li {
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}

.footer-1 .credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-2 {
    font-family: 'Ruda', sans-serif;
}

.footer-2 p a {
    font-size: x-large;
    text-decoration: underline;
}

.footer-2 p a:visited {
    color: #1c1c1c;
}

.footer-2 p a:link {
    color: #1c1c1c;
}

.footer-2 p a:hover {
    color: #5d31ff;
}

.footer-2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-2 ul li {
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}

.footer-2 .credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}