:root {
    --bs-primary: #1c1c1c;
    --bs-primary-rgb: 28, 28, 28;
    --bs-secondary: #daff01;
    --bs-secondary-rgb: 218, 255, 1;
    --bs-info: #5d31ff;
}

html {
    font-family: 'Ruda', sans-serif;
}

* {
    box-sizing: border-box;
}


a:link,
a:visited {
    text-decoration: none;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}


h2, h3, h4 {
    font-family: 'Ruda', sans-serif;
}

hr {
    border: solid 2px #eeedf2;
}

/****** Header styling*******/

header {
    margin: 0;
}

nav {
    text-transform: uppercase;
    color: #eeedf2;
    font-family: 'Work Sans', sans-serif;
}

svg {
    fill: #eeedf2;
}

/******* Main banner*******/

.container-b {
    background-color: #1c1c1c;
    color: #eeedf2;
}


.cover-container {
    background-image: url(/images/main-banner.gif);
    background-color: #daff01;
    background-size: cover;
    height: 720px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.heading {
    background-color: rgba(28, 28, 28, .8);;
    padding: 1rem;
}

.heading::before {
    content: "Bold";
    padding-left: 10px;
    animation: heading infinite 4s;
    animation-delay:1s;
    animation-timing-function: ease-in-out;
}

@keyframes heading {

    0% {
        content: "Bold";
    }

    50% {
        content: "Unique";
    }

    75% {
        content: "Different";
    }
}

.button1 {
    background-color: rgba(28, 28, 28, .4);
    border: solid 3px #eeedf2;
    padding: 0.5rem;
    color: #eeedf2;
    margin-top: 3rem;

}

/**********Footer ********/
.top-arrow {
    font-size: 2rem;
    color: #5d31ff;
}

.footer-1 {
    font-family: 'Ruda', sans-serif;
}

.footer-1 p a {
    font-size: x-large;
    text-decoration: underline;
}

.footer-1 p a:visited {
    color: #eeedf2;
}

.footer-1 p a:link {
    color: #eeedf2;
}

.footer-1 p a:hover {
    color: #daff01;
}

.footer-1 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-1 ul li {
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}

.footer-1 .credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}